{% extends "base.html" %}

{% block title %} Buscar producto {% endblock %}

{% block link %} 
<link rel="stylesheet" href="{{ url_for('static', filename='css/sales.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/tables.css') }}">
{% endblock %}

{% block content %}
<h1>Salidas</h1>

<section>
    <button id="btnEntriesModal">Agregar Salida</button>
</section>

<main class="main">
    {% if productSales %}
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Cantidad</th>
                <th>Precio de venta</th>
                <th>Total</th> 
                <th>Fecha</th> 
                <th colspan="2">Acciones</th>
            </tr>
        </thead>

        <tbody>
            {% for productSale in productSales %}
            <tr>
                <td>{{productSale[0]}}</td>
                <td>{{productSale[1]}}</td>
                <td>{{productSale[2]}}</td>
                <td>{{productSale[3]}}$</td>
                <td>{{productSale[4]}}$</td>
                <td>{{productSale[5]}}$</td>
                <td>
                    <form action="/deleteProduct" method="post">
                        <input type="hidden" value="{{productSale[0]}}" name="productId">
                        <button type="submit" class="delete"><i class="fa-solid fa-trash"></i> Eliminar</button>
                    </form>
                </td>

                <td>
                    <a href="/updateProduct/{{productSale[0]}}" class="update"><i class="fa-solid fa-pen-to-square"></i> Actualizar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No hay salidas registradas</p>
    {% endif %}
</main>

<p><b>Sub total</b></p>
<p><b>Iva:</b>19%</p>
<p><b>total:</b> 122$</p>



 <!--modal register entries-->
 <div class="salesModal" id="entrieModal">
    <div class="salesModalContent">
        <i class="fa-solid fa-xmark close" id="close"></i>
        <h2>Agregar existencia</h2>
        <div id="errorContainer"></div>
        <form action="/addSale" method="post" id="form">
            <div class="inputContainer">
                <label for="marca">Seleccionar producto:</label>
                <select name="producto" id="">
                    <option value="" selected disabled>Productos</option>
                    {% if products %}
                    {% for product in products %}
                    <option value="{{product[0]}}">{{product[2]}}</option>
                    {% endfor %}
                    {% else %}
                    <option value="" disabled >No hay productos registrados</option>
                    {% endif %}
                </select>
                <div id="textoError"></div>
            </div>

            <div class="inputContainer">
                <label for="marca">Precio de venta:</label>
                <input type="number" name="precioCompra" id="marca">
                <div id="textoError"></div>
            </div>

            <div class="inputContainer">
                <label for="nombre">Cantidad:</label>
                <input type="number" name="cantidad" id="nombre">
                <div id="textoError2"></div>
            </div>
            <div class="btnContainer">
                <button type="submit" id="btn">Agregar entrada</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}
{% block script %} 
<script src="{{ url_for('static', filename='js/entries.js') }}"></script> 
{% endblock %}
