{% extends "base.html" %}

{% block title %} Buscar producto {% endblock %}

{% block link %} 
<link rel="stylesheet" href="{{ url_for('static', filename='css/searchProduct.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/tables.css') }}">
{% endblock %}

{% block content %}
<h1>Buscar producto</h1>

<section>
    <form action="/searchProductView" method="post">
        <input type="search" placeholder="Buscar producto" name="buscar">
        <button type="submit">Buscar <i class="fa-solid fa-magnifying-glass searchIcon"></i></button>
    </form>
</section>


{% endblock %}
{% block script %} 
{% endblock %}
